* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 16px;
  overflow-x: hidden;
}

h2,
h3 {
  font-size: 20px;
}

.heading {
  margin-top: 2rem;
  text-align: center !important;
  text-transform: capitalize;
}

.heading h1 {
  font-size: 2rem;
}

.main_image {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
}

.main_hero_para {
  font-weight: bold;
}

.main_image img {
  width: 400px;
    margin-top: 2rem;
}

.button_application {
  text-transform: capitalize;
  display: flex;
  justify-content: flex-end;
  background-color: #11b6ca;
  padding: 0.5rem 2rem;
  border: none !important;
  border-radius: 50px;
  color: #ffff;
  margin-bottom: 1rem;
}

.four_coloumn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 3rem;
}

.four_card {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.four_card img{
  margin-bottom: 1rem;
}

.para{
  font-size:0.8rem;
}

.hr{
  display: flex;
  justify-content:center;
  align-items: center;
}

hr {

  width: 200px;
  background: blue;
}

.third_part {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.third_part_title img {
  width: 500px;
  margin-top: 1.5rem;
}



.five_part {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #11b6ca;
  width: 100%;
}

.five_part {
  background: none !important;
}

.six_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr 1fr 1fr;
  padding: 2rem 5rem;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.boxes_color{
  background-color:rgb(216 216 216);
}


.image_part {
  font-size: 2rem;
  cursor: pointer;
}
.image_title {
  padding: 1rem;
}

.arrow {
  display: flex;
  justify-content: space-between !important;
  margin-right: 4rem;
  margin-left: 4rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.seven_section {
  background-color: #75dbe7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  justify-content: center;
  place-items: center;
  grid-gap: 35px;
  padding: 1rem 3rem;
}

.boxes1 {
  background-color: #ffff;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 2rem 2rem;
}

.fourt_part{
  height: 100vh;
  background: #11b6ca;
  color:white;
  display:flex;
  flex-direction: column;
  margin-top: 3rem;
}

.fourt_part_title{
  text-align: center;
}

li{
  text-decoration: none;
  list-style-type: none;
  text-transform: capitalize;
}

.side_menu{
  display: flex;
}

.green_logo img{
width: 100px;
}


.green_card{

  width: 30%;
    background: green;
    height: 50vh;
}

.card_container{
  width: 80%;
  background-color: red;
}




























/* ***** media queries **** */

@media only screen and (max-width: 600px) {
  .six_block {
    display: block;
    padding: 0px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .boxes {
    margin-bottom: 1rem;
  }


  .four_coloumn {
    display: block;
    padding: 0px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .seven_section{
    display: block;
  text-align: center;
  }
  .third_part_title img {
   padding:1rem 4rem ;
}

}


@media only screen and (max-width: 400px) {

.image_title h1{
  font-size:1rem;
}
.img_handshake{
  display: flex;
    justify-content: center;
    align-items: center;
}

.boxes1{
  height:auto;
}

}